
@import '../../styles/var.scss';

header.publicHeader {
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
  .headerContainer {
    height: 80px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    user-select: none;
    border-bottom: solid 1.9px #ffffff;
    .logoFrame {
      margin-right: auto;
      img {
        height: 50px;
        cursor: pointer;
      }
    }
  }
}