
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}